.container-table{
  margin: 0 200px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  table{
    th{
      background: #b9c1cf;
    }
    td{
      background: #b9c1cf;
    }
  }
}
