<div *ngIf="(barChartData.length > 0 && cursos.length > 0) else load" class="container-table">
  <table mat-table [dataSource]="cursos" class="mat-elevation-z8">

    <ng-container matColumnDef="codigo_curso">
      <th mat-header-cell *matHeaderCellDef> Código do Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_curso}} </td>
    </ng-container>

    <ng-container matColumnDef="nome_curso">
      <th mat-header-cell *matHeaderCellDef>  Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_curso}} </td>
    </ng-container>

    <ng-container matColumnDef="nome_campus">
      <th mat-header-cell *matHeaderCellDef> Campus </th>
      <td mat-cell *matCellDef="let element"> {{element.campus.nome_campus}} </td>
    </ng-container>

    <ng-container matColumnDef="nota_corte">
      <th mat-header-cell *matHeaderCellDef> Nota </th>
      <td mat-cell *matCellDef="let element"> {{element.nota_corte}} </td>
    </ng-container>

    <ng-container matColumnDef="mod_concorrencia">
      <th mat-header-cell *matHeaderCellDef> Modalidade </th>
      <td mat-cell *matCellDef="let element"> {{element.mod_concorrencia}} </td>
    </ng-container>

    <ng-container matColumnDef="id_concorrencia">
      <th mat-header-cell *matHeaderCellDef> Código Concorrência </th>
      <td mat-cell *matCellDef="let element"> {{element.id_concorrencia}} </td>
    </ng-container>


    <ng-container matColumnDef="turno">
      <th mat-header-cell *matHeaderCellDef> Turno </th>
      <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ngx-charts-bar-vertical
    [view]="[1000, 400]"
    [scheme]="colorSets"
    [results]="barChartData"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Curso'"
    [yAxisLabel]="'Nota'">
  </ngx-charts-bar-vertical>
</div>
<ng-template #load>
  <div class="container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

