.floating-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .container-utils{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-left: 10px;
    }
    mat-icon{
      cursor: pointer;
    }
  }

}
