<div class="container-home-page">
  <span>
    Consultar Curos
  </span>
  <span>
    Pesquise por todos os cursos do brasil utilizando o filtro que desejar!
  </span>
  <div class="container-inputs">

    <form [formGroup]="meuForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Nota de Corte</mat-label>
        <input type="number" formControlName="notaCorte" matInput placeholder="Ex. 650">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="uf">
          <mat-option  *ngFor=" let i of estadosBrasileiros" [value]="i.sigla">{{i.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turno">
          <mat-option *ngFor=" let i of ['Noturno', 'Vespertino', 'Integral']" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </div>
  <button (click)="onSubmit()"  mat-raised-button color="primary">
    Buscar
  </button>

</div>
