.container-home-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span{
    color: black;
    margin-bottom: 40px;
    &:first-child{
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  .container-inputs{
    form{
      display: flex;
      gap: 20px;
      border-radius: 8px;
      .full-width {
        width: 300px;
      }
    }
  }
}
