<div class="container-home-page">
  <span>
    Consultar Curos
  </span>
  <span>
    Pesquise por todos os cursos do brasil utilizando o filtro que desejar!
  </span>
  <div class="container-inputs">
    <mat-form-field class="full-width">
      <mat-label>Curso</mat-label>
      <input type="Curso" matInput placeholder="Ex. Direito">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option *ngFor=" let i of [1,2,3,4]" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button (click)="navigateToTable()" mat-raised-button color="primary">
    Buscar
  </button>

</div>
